{% extends 'base.html.twig' %}

{% block title %} Hello Projet-humanitaire {% endblock %}

{% block body %}

<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="margin-top:95px;padding: 100px;background-image: url(assets/images/equipe.jpg); " >

    <h1 class="text-center" style="color: white; font-weight: bold">Nous rassemblons la communauté à travers des actions humanitaires, sportives et culturelles, promouvant ainsi l'entraide, la diversité et un mode de vie sain et épanoui</h1>
</section>

<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="card" style="width: 100%; height: 100%;">
                    <img src="assets/images/hamza.jpg" alt="image de hamza" class="card-img-top" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div class="col-md-6 align-items-center" style="padding: 80px;">
                <div >
                    <div>
                        <p>Dans l'association "Dans La Maison" (DLM), la solidarité et l'engagement envers la communauté sont au cœur de chaque initiative. Récemment, l'équipe a organisé une maraude nocturne, réunissant tous les membres pour une action de bienfaisance inoubliable.

                            La maraude a débuté avec une énergie contagieuse, alors que chaque membre de l'équipe se préparait à parcourir les rues de la ville. Avec des sacs remplis de repas chauds, de vêtements et de produits de première nécessité, ils étaient déterminés à apporter un peu de réconfort aux plus démunis.
                            Au fil des rencontres, une ambiance de camaraderie s'est installée parmi les membres de l'association. Leur dévouement commun à la cause les a rapprochés, créant des liens solides entre eux. Ensemble, ils ont ressenti l'importance de leur action, ainsi que l'impact positif qu'ils pouvaient avoir sur la vie des autres.

                            En rentrant chez eux au petit matin, l'équipe était fatiguée, mais leur cœur était rempli de satisfaction et de gratitude. Ils savaient qu'ils avaient fait une différence, aussi petite soit-elle, dans la vie de ceux qu'ils avaient rencontrés cette nuit-là.

                            Cet événement de maraude a renforcé les liens au sein de l'association "Dans La Maison". Chaque membre était plus que jamais déterminé à continuer à œuvrer ensemble pour créer un impact positif et aider ceux qui en ont le plus besoin dans leur communauté. La maraude n'était qu'une étape parmi tant d'autres dans leur engagement envers une cause qui leur tient à cœur.
                        </p>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="padding: 80px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 align-items-center" style="padding: 80px;">
                <div >
                    <div>
                        <p>
                            Dans l'effervescence de la ville, une association bienveillante, "Dans La Maison" (DLM), rayonne d'amour et de compassion envers les plus vulnérables de la société. Avec leur dévouement inébranlable, les membres de DLM se sont engagés à répandre la chaleur humaine et l'entraide au cœur de leur communauté.

                            DLM est bien plus qu'une simple association caritative. C'est une famille de bénévoles passionnés, unis par la volonté commune de faire une différence dans la vie des autres. Leur action va bien au-delà de la simple distribution de biens matériels, car ils cherchent à redonner dignité et espoir à ceux qui en ont besoin.
                        </p>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 70%; height: 100%;">
                    <img src="assets/images/huma3.jpg" alt="image de hamza" class="card-img-top" style="width: 100%; height: 100%;">
                </div>
            </div>
        
        </div>
    </div>
</section>

<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="padding: 80px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="card" style="width: 70%; height: 100%;">
                    <img src="assets/images/huma2.jpg" alt="image de hamza" class="card-img-top" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div class="col-md-6 align-items-center" style="padding: 80px;">
                <div >
                    <div>
                        <p>Chaque semaine, ils organisent des événements sociaux, des ateliers d'apprentissage et des séances de partage pour les personnes âgées isolées. Leurs visites réconfortantes et leurs sourires chaleureux illuminent les visages ridés, rappelant à ces personnes qu'elles ne sont pas seules.

                            Au cœur de l'hiver glacial, DLM lance des campagnes de collecte de vêtements chauds et de couvertures pour les sans-abri. Leurs maraudes nocturnes sont empreintes d'empathie et de sollicitude, apportant un peu de chaleur et de réconfort aux plus démunis.
                            
                            Mais DLM ne s'arrête pas là. Ils se consacrent également à l'éducation des enfants issus de milieux défavorisés. Leurs programmes de tutorat et de mentorat aident à cultiver le potentiel de ces jeunes, en leur offrant des opportunités qu'ils n'auraient jamais cru possibles.
                            
                            Au sein de l'association, chaque membre est un pilier essentiel de l'édifice qu'ils construisent ensemble. Chaque sourire partagé, chaque main tendue et chaque moment de joie partagée renforcent leurs liens d'amitié et d'engagement envers la cause.
                            
                            "Dans La Maison" est bien plus qu'une simple association. C'est une source d'espoir, un phare dans l'obscurité, guidant ceux qui se sentent perdus vers un avenir meilleur. Leur présence bienveillante dans la communauté rappelle à tous que chacun peut apporter sa pierre à l'édifice de la bienveillance et de l'amour.
                        </p>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
    
<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="padding: 80px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="card" style="width: 70%; height: 100%;">
                    <img src="assets/images/huma4.jpg" alt="image de hamza" class="card-img-top" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div class="col-md-6 align-items-center" style="padding: 80px;">
                <div >
                    <div>
                        <p>
                                    Dans un élan généreux, l'association "Dans La Maison" (DLM) a étendu son engagement au-delà des frontières pour réaliser des rénovations d'écoles au Maroc. Leur dévouement à l'éducation et à l'amélioration des conditions de vie des enfants a pris une nouvelle dimension dans ce beau pays.

                                    DLM a entrepris un projet ambitieux visant à redonner vie à des établissements scolaires défavorisés. Avec un esprit collectif et le soutien de partenaires locaux, ils se sont attelés à la tâche avec passion et enthousiasme.

                                    Des salles de classe délabrées aux cours de récréation abandonnées, chaque coin de l'école a été méticuleusement pris en charge. Les membres de l'association ont travaillé d'arrache-pied pour réparer, repeindre et rénover les locaux, avec pour objectif de créer un environnement d'apprentissage inspirant et accueillant.
                                    Mais plus que les travaux de rénovation, c'est l'impact sur la communauté locale qui a été le plus remarquable. DLM a créé un lien fort avec les habitants, en établissant un véritable partenariat avec l'école et les familles. Ils ont organisé des séances d'orientation, des activités culturelles et des programmes éducatifs pour impliquer et sensibiliser la communauté à l'importance de l'éducation.
                                    Le projet de rénovation d'écoles au Maroc a été une étape importante pour DLM, montrant que leur compassion et leur détermination ne connaissent pas de frontières. Leur volonté de créer un impact positif dans la vie des enfants continue de les guider vers de nouvelles missions humanitaires, apportant de l'espoir et de la lumière là où ils en ont le plus besoin.
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
