{% extends 'base.html.twig' %}

{% block title %}Hello EvenementculturelleController!{% endblock %}
{% block body %}
<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="margin-top:95px;padding: 160px;background-image: url(assets/images/culture2.jpg); " >
    <h1 class="text-center" style="color: white; font-weight: bold"> Cette association polyvalente ne se limite pas seulement à des activités sportives, mais s'efforce également de favoriser l'épanouissement culturel au sein du quartier.</h1>
</section>

<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="padding: 80px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 align-items-center" style="padding: 80px;">
                <div >
                    <div>
                        <p>
                            L'Association DLM (Dans La Maison) s'est engagée avec enthousiasme et détermination lors du forum organisé par la Ville de Villepinte. Notre présence active et notre participation ont été un témoignage de notre engagement envers la communauté locale et de notre volonté constante d'apporter une contribution positive à notre environnement. Tout au long de l'événement, nous avons partagé notre vision et nos initiatives, mettant en lumière nos projets et actions visant à renforcer les liens sociaux, promouvoir l'entraide et encourager le développement personnel. Notre équipe a eu l'opportunité de dialoguer avec les membres de la communauté, de susciter des discussions constructives et de créer des synergies fructueuses en vue de bâtir un avenir meilleur pour tous. Cette participation au forum de Villepinte a été une étape significative dans notre quête pour un impact positif et durable dans notre région, et nous attendons avec impatience de continuer à collaborer pour des initiatives bénéfiques à venir.
                        </p>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 90%; height: 100%;">
                    <img src="assets/images/forum.jpg" alt="image de hamza" class="card-img-top" style="width: 100%; height: 100%;">
                </div>
            </div>
        
        </div>
    </div>
</section>

{% endblock %}
