{% extends 'base.html.twig' %}

{% block title %}Hello ConfirmationController!{% endblock %}

{% block body %}
{# templates/confirmation/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Merci pour votre don !</h1>
    <p>Votre don a été enregistré avec succès. Nous vous remercions pour votre générosité.</p>
{% endblock %}

{% endblock %}
