{% extends 'base.html.twig' %}

{% block title %}Activité Sportive!{% endblock %}

{% block body %}

<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="margin-top:95px;padding: 100px;background-image: url(assets/images/sport2.jpg); " >

    <h1 class="text-center" style="color: red; font-weight: bold">  DLM se distingue par son engagement à promouvoir la pratique sportive parmi les enfants</h1>
    
</section>

<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="padding: 80px;">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-md-6">
                <div class="card" style="width: 70%; height: 100%; padding: 0px;">
                    <img src="assets/images/sport.jpg" alt=" sport" class="card-img-top" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div class="col-md-3 align-items-center" style="padding: 80px;">
                    <div>
                        <p>
                            L'association  DLM insuffle une énergie vibrante et positive dans le quartier en organisant des séances de boxe, notamment dédiées aux enfants. À travers ces séances dynamiques, DLM s'efforce de transmettre bien plus que des compétences de boxe – l'association cultive la confiance en soi, la discipline et l'esprit d'équipe chez les jeunes du quartier.
                        </p>    
                    </div>                
            </div>
            
        </div>
    </div>
</section>



<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="padding: 80px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                    <div class="card" style="width: 70%; height: 100%;">
                        <img src="assets/images/sport4.jpg" alt="image de hamza" class="card-img-top" style="width: 100%; height: 100%;">
                    </div>
            </div>
            <div class="col-md-6 align-items-center" style="padding: 80px;">
                <div >
                    <div>
                        <p>
                            L'Association DLM (Dans la Maison) déploie un engagement bienveillant et solidaire au cœur de la société, visant à améliorer la vie des populations vulnérables, notamment les enfants et les seniors. À travers des actions concrètes et empreintes de chaleur humaine, DLM œuvre pour créer un environnement favorable à l'épanouissement et au soutien de ces groupes fragiles. Pour les enfants, DLM organise des activités ludiques, éducatives et créatives, contribuant ainsi à leur développement et à leur éducation. Parallèlement, l'association offre un accompagnement dédié aux seniors, mettant en place des rencontres, des ateliers et des services pour favoriser leur bien-être et préserver leur lien social. Grâce à son approche bienveillante et inclusive, DLM s'efforce de tisser des liens intergénérationnels et de créer des moments de partage et de solidarité au sein de la communauté locale.
                        </p>
                    </div>
                </div>
            
            </div>
            
        
        </div>
    </div>
</section>


<section id="top" class="pa-hero pa-blog-hero pa-centered-section pa-image-back position-relative" style="padding: 80px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 align-items-center" style="padding: 80px;">
                <div >
                    <div>
                        <p>
                            L'équipe de foot en salle de Villepinte constitue l'un des projets phares de l'association "Dans La Maison" (DLM). Cette initiative dynamique reflète l'engagement passionné de DLM en faveur de la communauté locale. En rassemblant des joueurs de tous âges et horizons autour d'une passion commune, l'équipe de foot en salle incarne les valeurs d'inclusion, de persévérance et d'esprit d'équipe chères à l'association.
                        </p>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 70%; height: 100%;">
                    <img src="assets/images/sport1.jpg" alt="image de hamza" class="card-img-top" style="width: 100%; height: 100%;">
                </div>
            </div>
        
        </div>
    </div>
</section>
{% endblock %}
