{% extends 'base.html.twig' %}

{% block title %}Hello ConfirmationbenevoleController!{% endblock %}

{% block body %}
{# templates/benevole/confirmation.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Confirmation de l'Inscription{% endblock %}

{% block body %}
    <h1>Confirmation de l'Inscription Bénévole</h1>
    <p>Merci d'avoir soumis votre demande de bénévolat. Nous vous remercions pour votre engagement et vous contacterons bientôt.</p>
{% endblock %}

{% endblock %}
