{% extends 'base.html.twig' %}
    
{% block title %}Inscription Bénévole{% endblock %}

{% block body %}
<section class="container col-md-6"  style="padding: 90px;">
    <div class="row">
        <div class="col-12">
            <h1>Inscription Bénévole</h1>
        </div>
    </div>

    {# Affichage du formulaire en utilisant form(form) #}
    {{ form(form) }}



        
</section>

{% endblock %}

