{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block body %}
<section class="decaler membre" style="padding: 50px;" >
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1> Notre équipe chez DLM !</h1>
</section>    
{% endblock %}
